/************************************************************/
/* Launch5j, by LoRd_MuldeR <MuldeR2@GMX.de>                */
/* Java JAR wrapper for creating Windows native executables */
/* https://github.com/lordmulder/                           */
/*                                                          */
/* This work has been released under the MIT license.       */
/* Please see LICENSE.TXT for details!                      */
/*                                                          */
/* ACKNOWLEDGEMENT                                          */
/* This project is partly inspired by the Launch4j project: */
/* https://sourceforge.net/p/launch4j/                      */
/************************************************************/

#define APSTUDIO_READONLY_SYMBOLS
#include "WinResrc.h"
#undef APSTUDIO_READONLY_SYMBOLS

#include "../src/resource.h"

/////////////////////////////////////////////////////////////////////////////
// Neutral resources
/////////////////////////////////////////////////////////////////////////////
#ifdef _WIN32
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
// Icons
/////////////////////////////////////////////////////////////////////////////

ID_ICON_MAIN ICON "assets/icon.ico"

/////////////////////////////////////////////////////////////////////////////
// Strings
/////////////////////////////////////////////////////////////////////////////

STRINGTABLE
BEGIN
    ID_STR_HEADING L"?" /*custom application title*/
    ID_STR_JVMARGS L"?" /*additional JVM args*/
    ID_STR_CMDARGS L"?" /*additional command-line args*/
    ID_STR_JREPATH L"?" /*relative path to JRE*/
    ID_STR_MUTEXID L"?" /*single instance mutex ID*/
    ID_STR_HEAPMIN L"?" /*min. heap size, in percent of phys. memory*/
    ID_STR_HEAPMAX L"?" /*max. heap size, in percent of phys. memory*/
END

/////////////////////////////////////////////////////////////////////////////
// Version
/////////////////////////////////////////////////////////////////////////////

#define L5J_VERSION_GLUE1(W,X,Y,Z) #W "." #X "." #Y " [build " #Z "]"
#define L5J_VERSION_GLUE2(W,X,Y,Z) L5J_VERSION_GLUE1(W,X,Y,Z)
#define L5J_VERSION_STR L5J_VERSION_GLUE2(L5J_VERSION_MAJOR,L5J_VERSION_MINOR,L5J_VERSION_PATCH,L5J_BUILDNO)

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    L5J_VERSION_MAJOR,L5J_VERSION_MINOR,L5J_VERSION_PATCH,L5J_BUILDNO
 PRODUCTVERSION L5J_VERSION_MAJOR,L5J_VERSION_MINOR,L5J_VERSION_PATCH,L5J_BUILDNO
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x3L
#else
 FILEFLAGS 0x2L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "ProductName", "Launch5j"
            VALUE "FileDescription", "Launch5j"
            VALUE "ProductVersion", L5J_VERSION_STR
            VALUE "FileVersion", L5J_VERSION_STR
            VALUE "InternalName", "Launch5j"
            VALUE "OriginalFilename", "launch5j.exe"
            VALUE "LegalCopyright", "Created by LoRd_MuldeR <MuldeR2@GMX.de>"
            VALUE "CompanyName", "Muldersoft"
            VALUE "LegalTrademarks", "Muldersoft"
            VALUE "Comments", "This work has been released under the MIT license!"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
