/////////////////////////////////////////////////////////////////////////////
//
// Microsoft Visual C++ generated resource script.
//
#define APSTUDIO_READONLY_SYMBOLS
#include "WinResrc.h" //"afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
//
// Neutral resources
//
#ifdef _WIN32
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Version
//
VS_VERSION_INFO VERSIONINFO
 FILEVERSION    0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x3L
#else
 FILEFLAGS 0x2L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "ProductName", "Launch5j"
            VALUE "FileDescription", "Launch5j"
            VALUE "ProductVersion", "0.1.0"
            VALUE "FileVersion", "0.1.0"
            VALUE "InternalName", "Launch5j"
            VALUE "OriginalFilename", "launch5j.exe"
            VALUE "LegalCopyright", "Created by LoRd_MuldeR <MuldeR2@GMX.de>"
            VALUE "CompanyName", "Muldersoft"
            VALUE "LegalTrademarks", "Muldersoft"
            VALUE "Comments", "This work has been released under the MIT license!"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
